:root {
  --clr-main: #1ed760;
  --clr-secondary: #3051b9;
  --clr-light: #fff;
  --clr-dark-500: #919496;
  --clr-dark-700: #222326;
  --clr-dark-900: black;
  --ff-primary: 'Montserrat', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
body,
ul,
li {
  padding: 0;
  margin: 0;
  font-family: var(--ff-primary);
}

li a:hover {
  color: var(--clr-main);
}

a {
  color: var(--clr-light);
  text-decoration: none;
  font-size: 0.9em;
}

header,
footer,
.secondary {
  background-color: var(--clr-dark-900);
  color: var(--clr-light);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
}

header nav {
  padding: 0.5em 1em;
  /* border: 2px solid red; */
  max-width: 47em;
  margin: 0 auto;
}

.hamburger {
  background: transparent;
  outline: none;
  border: none;
  color: white;
  cursor: pointer;
  /* padding-right: 0.9em; */
  font-size: 1.5em;
}

.spotify img {
  width: 100px;
  padding: 0.5em;
}

nav {
  display: flex;
  justify-content: space-between;
}

.navbar {
  display: none;
}

.base-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--clr-main);
  background-color: var(--clr-secondary);
  text-align: center;
}

.base-content h1 {
  font-size: 2.5em;
  font-weight: 700;
  margin-bottom: 0.6em;
}

.base-content p {
  font-size: 0.9em;
}

.base-content button {
  width: 210px;
  text-transform: uppercase;
  background-color: var(--clr-main);
  font-size: 0.8em;
  color: var(--clr-secondary);
  font-weight: 600;
  padding: 0.8em 0;
  margin-top: 3em;
  border-radius: 50px;
  border: none;
  outline: none;
  flex-basis: 48px;
  cursor: pointer;
  letter-spacing: 1px;
}

.secondary {
  height: 120%;
}

.secondary .logo {
  padding: 2em 0.5em;
}

.split div {
  padding: 1em 0.8em;
}

.social {
  color: white;
  width: 220px;
  display: flex;
  justify-content: space-around;
  /* padding-top: 3em */
}

.social div {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--clr-dark-700);
  display: flex;
  justify-content: center;
  align-items: center;
}

.social div i {
  font-size: 25px;
}

footer {
  font-size: 0.6em;
  padding: 3em 0;
}

footer div {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5em;
  /* flex-wrap: wrap; */
}

footer div ul {
  display: flex;
  justify-content: space-around;
  color: var(--clr-dark-500);
  width: 45em;
  flex-wrap: wrap;
  border: 2px solid white;
}

footer div ul > * {
  /* flex-basis: 2em; */
  color: var(--clr-dark-500);
  font-weight: 500;
  /* flex-wrap: wrap; */
  text-align: center;
}

footer div > li:hover {
  color: var(--clr-main);
}

footer .copyright {
  align-self: center;
}

.social div i:hover {
  color: var(--clr-main);
}

h3 {
  color: var(--clr-dark-500);
  text-transform: uppercase;
  font-size: 0.8em;
}
li {
  list-style: none;
  font-weight: 500;
  padding: 0.6em 0;
}

@media all and (min-width: 768px) and (max-width: 990px) {
  header nav {
    max-width: 95%;
  }
  .secondary {
    display: flex;
    flex-flow: column;
    padding: 1.5em;
  }

  .split {
    display: flex;
    flex-grow: 1;
  }
  .split div {
    flex-grow: 1;
  }

  .social {
    padding-top: 7em;
  }
}

@media all and (min-width: 991px) {
  .container {
    display: flex;
  }
  .split div {
    display: flex;
    justify-self: center;
  }
}
